unpackaged/main/default/flows/NPC_Scheduled_DPE_Definitions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Nonprofit_Aggregate_Benefit_Assignment_and_Benefit_Disbursement</name>
        <label>Nonprofit_Aggregate Benefit Assignment and Benefit Disbursement</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>Nonprofit_Aggregate_Benefit_Assignment_and_Benefit_Disbursement</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Nonprofit_Aggregate_Program_Enrollment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Current_Date</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Current_Month_Start_Date</name>
            <value>
                <elementReference>Current_Month_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Current_Year_Start_Date</name>
            <value>
                <elementReference>Current_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Previous_Month_Start_Date</name>
            <value>
                <elementReference>Previous_Month_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Previous_Year_Start_Date</name>
            <value>
                <elementReference>Previous_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nonprofit_Aggregate_Benefit_Assignment_and_Benefit_Disbursement</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Nonprofit_Aggregate_Program_Enrollment</name>
        <label>Nonprofit_Aggregate Program Enrollment</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>Nonprofit_Aggregate_Program_Enrollment</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Nonprofit_DonorGiftSummary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nonprofit_Aggregate_Program_Enrollment</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Nonprofit_DonorGiftSummary</name>
        <label>Nonprofit_DonorGiftSummary</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <actionName>Nonprofit_DonorGiftSummary</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Nonprofit_Fundraising_Account_Actionable_List_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CURRENT_CALENDAR_YEAR</name>
            <value>
                <elementReference>Current_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_CALENDAR_YEAR</name>
            <value>
                <elementReference>Previous_Year_Start_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LAST_TWO_CALENDAR_YEAR</name>
            <value>
                <elementReference>LAST_TWO_CALENDAR_YEAR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Nonprofit_DonorGiftSummary</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Nonprofit_Fundraising_Account_Actionable_List_Template</name>
        <label>Nonprofit_Fundraising Account Actionable List Template</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <actionName>Nonprofit_Fundraising_Account_Actionable_List_Template</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>Nonprofit_OutreachSummary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nonprofit_Fundraising_Account_Actionable_List_Template</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Nonprofit_OutreachSummary</name>
        <label>Nonprofit_OutreachSummary</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <actionName>Nonprofit_OutreachSummary</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Nonprofit_OutreachSummary</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Current_Month_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate}),1)</expression>
    </formulas>
    <formulas>
        <name>Current_Year_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <formulas>
        <name>LAST_TWO_CALENDAR_YEAR</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-2,1,1)</expression>
    </formulas>
    <formulas>
        <name>Previous_Month_Start_Date</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})=1,DATE(YEAR({!$Flow.CurrentDate})-1,12,1),DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate})-1,1))</expression>
    </formulas>
    <formulas>
        <name>Previous_Year_Start_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})-1,1,1)</expression>
    </formulas>
    <interviewLabel>*NPC_Scheduled DPE Definitions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nonprofit_Scheduled DPE Definitions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nonprofit_Aggregate_Benefit_Assignment_and_Benefit_Disbursement</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-30</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
